* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root styles */
#root {
  background-color: #686868;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  color: white;
}
/* app container */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* background-color: red; */
}
/* header styles */
.header {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 1% 5%;
  background-color: rgb(36, 32, 32);
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.3),
    0 4px 6px -4px rgba(255, 255, 255, 0.2);
}
#cvIcon {
  width: 70px;
}
/* main styles */
.main {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
/* form container styles */
.forms-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px;
  min-height: 100vh;
}
.general-infos-container,
.education-exp-container,
.practical-exp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0), 0px 0px 5px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
  color: black;
}
#generalInfosForm,
#educationExpForm,
#practicalExpForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4%;
  height: auto;
  animation: drop-down 0.7s ease-in-out;
}
@keyframes drop-down {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* edit buttons styles */
#generalEditButton,
#educationEditButton,
#practicalEditButton {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 15px;
  text-align: start;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
#generalEditButton:hover,
#educationEditButton:hover,
#practicalEditButton:hover {
  background-color: white;
}
#personalIcon,
#educationIcon,
#practicalExpIcon {
  width: 20px;
}
#drop-down-icon {
  width: 15px;
  margin-left: auto;
}
#generalInfosForm > div,
#educationExpForm > div,
#practicalExpForm > div {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
#generalInfosForm > div > input,
#educationExpForm > div > input,
#practicalExpForm > div > input {
  border-radius: 10px;
  background-color: #dadada;
  padding: 3% 5%;
  border: none;
  transition: outline 1s;
}
#generalInfosForm > div > input:focus,
#educationExpForm > div > input:focus,
#practicalExpForm > div > input:focus {
  outline: auto blue;
}

#generalInfosForm > div > label,
#educationExpForm > div > label,
#practicalExpForm > div > label {
  font-weight: bold;
  font-size: 15px;
}
#generalInfosSubmitButton,
#educationExpSubmitButton,
#practicalExpSubmitButton {
  align-self: center;
  text-align: center;
  width: 35%;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  background-color: black;
  color: white;
}
#generalInfosSubmitButton:hover,
#educationExpSubmitButton:hover,
#practicalExpSubmitButton:hover {
  background-color: rgba(128, 128, 128, 0.609);
  color: black;
}
/* display Container  */
.displayContainer {
  /* flex: 1; */
  /* margin-left: 2%; */
  /* width: 65%; */
  min-width: 50%;
  height: auto;
  border: 1px solid red;
}
.footer {
  background-color: yellow;
}
